<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-6 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Login</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form [formGroup]="myForm" (ngSubmit)="login()">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput name="email" placeholder="Email address" type="email" formControlName="email">
                    <span *ngIf="myForm.controls.email.errors && myForm.controls.email.touched">
                      <span *ngIf="myForm.controls.email.errors.pattern">
                        Invalid pattern
                      </span>
                      <span *ngIf="myForm.controls.email.errors.required">
                        Email is Required
                      </span>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput name="password" placeholder="password" type="password" formControlName="password">
                    <span *ngIf="myForm.controls.password.errors && myForm.controls.password.touched">
                      <span *ngIf="myForm.controls.password.errors.required">
                        Password is Required
                      </span>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>