<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-6 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Change Password</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput name="oldPassword" placeholder="oldPassword" type="password" formControlName="oldPassword">
                    <span *ngIf="myForm.controls.oldPassword.errors && myForm.controls.oldPassword.touched">
                      <span *ngIf="myForm.controls.oldPassword.errors.required">
                        oldPassword is Required
                      </span>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput name="newPassword" placeholder="newPassword" type="password" formControlName="newPassword">
                    <span *ngIf="myForm.controls.newPassword.errors && myForm.controls.newPassword.touched">
                      <span *ngIf="myForm.controls.newPassword.errors.required">
                        Password is Required
                      </span>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput name="confirmPassword" placeholder="confirmPassword" type="password" formControlName="confirmPassword">
                    <span *ngIf="myForm.controls.confirmPassword.errors && myForm.controls.confirmPassword.touched">
                      <span *ngIf="myForm.controls.confirmPassword.errors.required">
                        Confirm Password is Required
                      </span>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>