<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-6 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Forgot password</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput name="new_password" placeholder="New password" type="password"
                      formControlName="new_password">
                    <span
                      *ngIf="resetPasswordForm.controls.new_password.errors && resetPasswordForm.controls.new_password.touched">
                      <span *ngIf="resetPasswordForm.controls.new_password.errors.required">
                        New Password is Required
                      </span>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput name="confirm_new_password" placeholder="Confirm new password" type="password"
                      formControlName="confirm_new_password">
                    <span
                      *ngIf="resetPasswordForm.controls.confirm_new_password.errors && resetPasswordForm.controls.confirm_new_password.touched">
                      <span *ngIf="resetPasswordForm.controls.confirm_new_password.errors.required">
                        New Password is Required
                      </span>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>